rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /rooms/{roomId} {
      allow update, delete: if request.auth.uid == resource.data.ownerId;
      allow get: if request.auth != null;
      allow create: if request.auth != null;

      match /players/{playerId} {
        allow read: if request.auth != null;
        allow write: if request.auth.uid == playerId
          || request.auth.uid == get(/databases/$(database)/documents/rooms/$(roomId)).data.ownerId;
      }

      match /stream-offers/{offerId} {
        allow read: if request.auth != null;
        allow create: if request.auth != null;
        allow update: if request.auth.uid == resource.data.forId
          || request.auth.uid == resource.data.byId
      }
    }

    match /users/{userId} {
      allow write: if (request.auth.uid == userId);
      allow read: if request.auth != null;
    }
  }
}
