html
  height: 100%

body
  position: absolute
  margin: 0
  top: 0
  bottom: 0
  right: 0
  left: 0

  background-image: url('~@/assets/zombie-background.jpg')
  background-attachment: fixed
  background-repeat: no-repeat
  background-size: cover
  background-position: center

.sr-only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0

h1
  text-align: center
